.page{
    background-color: yellowgreen;
    
    height: 100vh;
    display: grid;
    /* grid-template-columns: 100px 200px auto; */
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 120px 500px;

}

.ch{

    background-color: lavender;
    border: 2px solid;
}

.ch1{
    grid-column-start: 1;
    grid-column-end: 5;
}

.ch2{
    grid-row-start: 2;
    grid-row-end: 4;
}

.chh{
    grid-row-start: 2;
    grid-row-end: 4;
}
