.Container{
    background-color: bisque;
    display: grid;
    /* height: 600px; */
    height: 100vh;
    border: 2px solid;
    grid-template-columns: auto auto auto ;
}

.ch{
    border: 2px solid;

}

.ch1{
    grid-column-start: 1;
    grid-column-end: 4;
}

.ch2{
    grid-row-start: 2;
    grid-row-end: 4;
}

.ch5{
    grid-column-start: 2;
    grid-column-end: 4;
}

.ch6{
    grid-column-start: 1;
    grid-column-end: 4;
}