body{
    background-color: #FCBB6D;
}
h1{
        
    font-family: "Bebas Neue", sans-serif;
}

h2{
    font-family: "Dancing Script", cursive;
}

h3{
    font-family: "Funnel Display", sans-serif;
}