.container{
    
    background-color: brown;
    height: 400px;
    width: 100%;
    margin-top: 150px;
}

.ch{
    background-color: blue;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
}